<% if @tours.present? %>
<div class="mt-4">
  <table class="min-w-full bg-white border border-gray-300">
    <thead class="py-2 px-4 border-b border-gray-300 bg-gray-200 text-center text-sm font-extrabold text-gray-700">
      <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start City</th>
        <th>End City</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      <% @tours.each do |tour| %>
        <tr>
          <td class="py-2 px-4 border-b border-gray-300 text-left"><%= tour.name %></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.days %></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.start_date.strftime('%m/%d/%Y') %></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.end_date.strftime('%m/%d/%Y')%></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.start_city %></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.end_city %></td>
          <td class="py-2 px-4 border-b border-gray-300 text-center"><%= tour.availability %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="mt-8 text-gray-600 text-center">No tours found</p>
<% end %>
</div>
